<!-- Primary Meta Tags -->
<title>Loading...</title>
<meta name="title" content="<%= fullname %>">
<meta name="description" content="<%= their_story %>>">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="<%= url %>">
<meta property="og:title" content="<%= fullname %>">
<meta property="og:description" content="<%= their_story %>">
<meta property="og:image" content="<%= image %>">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="<%= url %>">
<meta property="twitter:title" content="<%= fullname %>">
<meta property="twitter:description" content="<%= their_story %>">
<meta property="twitter:image" content="<%= image %>">

<script>

setTimeout(
    function(){ 
        //Redirect 
        window.location.href = '<%= url %>';
    }, 500);


</script>